@model List<BiliWeb.Models.HistoryOSModel>

@{
    ViewData["Title"] = "Index";
}
<div class="crudi-page">

    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Date
                </th>
                <th>
                    Phone 
                </th>
                <th>
                    Operating System Version 
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-label="ID">
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td data-label="Date">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td data-label="Name">
                        @{
                            var phoneName = BiliWeb.Backend.PhoneHelper.ConvertIDtoString(item.PhoneID);
                            if (phoneName != "")
                            {
                            <span class="highlight-text"><a asp-controller="Phone" asp-action="Read" asp-route-id="@item.PhoneID"> @phoneName </a></span>
                            }
                        }
                    </td>
                    <td data-label="Name">
                        @{
                            var versionName = BiliWeb.Backend.VersionOSHelper.ConvertIDtoString(item.VersionOSID);
                            if (phoneName != "")
                            {
                                <span class="highlight-text"><a asp-controller="VersionOS" asp-action="Read" asp-route-id="@item.VersionOSID"> @versionName </a></span>
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Read" asp-route-id="@item.ID">Read</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>