@model BiliWeb.Models.HistoryOSModel

@{
    ViewData["Title"] = "Read";
}
<div class="crudi-page">

    <h2>Read</h2>

    <h4>Example record</h4>

    <br />
    <hr />
    <div class="row">
        <div class="col">
            <br />

            <div class="form-group">
                <div class="row">
                    <div class="col-2 text-right attr-name">
                        @Html.DisplayNameFor(model => model.ID)
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.ID)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-2 text-right attr-name">
                        @Html.DisplayNameFor(model => model.PhoneID)
                    </div>
                    <div class="col">
                        @{
                            var phoneName = BiliWeb.Backend.PhoneHelper.ConvertIDtoString(Model.PhoneID);
                            if (phoneName != "")
                            {
                                <span class="highlight-text"><a asp-controller="Phone" asp-action="Read" asp-route-id="@Model.PhoneID"> @phoneName </a></span>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-2 text-right attr-name">
                        @Html.DisplayNameFor(model => model.VersionOSID)
                    </div>
                    <div class="col">
                        @{
                            var versionOSName = BiliWeb.Backend.VersionOSHelper.ConvertIDtoString(Model.VersionOSID);
                            if (versionOSName != "")
                            {
                                <span class="highlight-text"><a asp-controller="VersionOS" asp-action="Read" asp-route-id="@Model.VersionOSID"> @versionOSName </a></span>
                            }
                        }
                    </div>
                </div>
            </div>

            @*TODO Copy the Form Group from Above and Change the "Name" attributes to the attribute to edit.  The entire block of form group is needed for each attribute*@

            <div class="form-group">
                <br />
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-info">Back</a>
                        <a asp-action="Update" asp-route-id="@Model.ID" class="btn btn-secondary">Update</a>
                        <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



