@model BiliWeb.Models.ClinicModel

@{
    ViewData["Title"] = "Read";
}

<h2>Read</h2>

<h4>Clinic record</h4>
<hr />

<div class="row">

    <div class="col">
        <div class="form-group">
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 text-right attr-name">
                                @Html.DisplayNameFor(model => model.ID)
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.ID)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 text-right attr-name">
                                @Html.DisplayNameFor(model => model.Name)
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.Name)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 text-right attr-name">
                                @Html.DisplayNameFor(model => model.Address)
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.Address)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 text-right attr-name">
                                @Html.DisplayNameFor(model => model.City)
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.City)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 text-right attr-name">
                                @Html.DisplayNameFor(model => model.Country)
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.Country)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 text-right attr-name">
                                @Html.DisplayNameFor(model => model.Contact)
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.Contact)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 text-right attr-name">
                                @Html.DisplayNameFor(model => model.Phone)
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.Phone)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 text-right attr-name">
                                @Html.DisplayNameFor(model => model.Email)
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.Email)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 text-right attr-name">
                                @Html.DisplayNameFor(model => model.Notes)
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.Notes)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*TODO Copy the Form Group from Above and Change the "Name" attributes to the attribute to edit.  The entire block of form group is needed for each attribute*@

        <div class="form-group">
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-info">Back</a>
                    <a asp-action="Update" asp-route-id="@Model.ID" class="btn btn-secondary">Update</a>
                    <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
         <div class="form-group">
            <iframe frameborder="0" style="border:0; width:400px; height:400px"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCBFngdBBzxJognW7Fa2NRy2rQF7xQnJ_0&q=@Html.DisplayFor(m => m.Address),@Html.DisplayFor(m => m.City)+@Html.DisplayFor(m => m.Country)"></iframe>
            @*<div class="row">
                <div id="floating-panel">
                    <button onclick="toggleHeatmap()">Toggle Heatmap</button>
                    <button onclick="changeGradient()">Change gradient</button>
                    <button onclick="changeRadius()">Change radius</button>
                    <button onclick="changeOpacity()">Change opacity</button>
                </div>
            </div>
            <div id="map" style="height:300px; width:500px"></div>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKmwh3sfpUFM01boOHIUdUHLoYcOV3Yqs&libraries=visualization&callback=initMap">
            </script>*@
        </div>
    </div>




