@model BiliWeb.Models.PhoneModel

@{
    ViewData["Title"] = "Read";
}
    <div class="crudi-page">

        <h2>Read</h2>

        <h4>Phone record</h4>

        <br />
        <hr />
        <div class="row">
            
            <div class="col">
                <br />
                <div class="row">

                    <!-- Example photo - DELETE when no longer needed -->
                    <div class="col-2">
                        <img src="~/images/samsungS7_Example.jpg" height="300" width="194"/>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-3 text-right attr-name">
                                    @Html.DisplayNameFor(model => model.ID)
                                </div>
                                <div class="col">
                                    @Html.DisplayFor(model => model.ID)
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="row">
                                <div class="col-3 text-right attr-name">
                                    @Html.DisplayNameFor(model => model.ClinicID)
                                </div>
                                <div class="col">
                                    @{
                                        var clinicName = BiliWeb.Backend.ClinicHelper.ConvertIDtoString(Model.ClinicID);
                                        if (clinicName != "")
                                        {
                                            <span class="highlight-text"><a asp-controller="Clinic" asp-action="Read" asp-route-id="@Model.ClinicID"> @clinicName </a></span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-3 text-right attr-name">
                                    @Html.DisplayNameFor(model => model.DeviceModel)
                                </div>
                                <div class="col">
                                    @Html.DisplayFor(model => model.DeviceModel)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-3 text-right attr-name">
                                    @Html.DisplayNameFor(model => model.SerialNumber)
                                </div>
                                <div class="col">
                                    @Html.DisplayFor(model => model.SerialNumber)
                                </div>
                            </div>
                        </div>

                        @*TODO Copy the Form Group from Above and Change the "Name" attributes to the attribute to edit.  The entire block of form group is needed for each attribute*@

                        @*TODO - replace following two form groups with derived data for these attributes*@
                        <div class="form-group">
                            <div class="row">
                                <div class="col-3 text-right attr-name">
                                    Current App Version
                                </div>
                                <div class="col">
                                    @{
                                        var appVersionID = BiliWeb.Backend.VersionAppBackend.Instance.Index().Last().ID;
                                        <span class="highlight-text"><a asp-controller="VersionApp" asp-action="Read" asp-route-id="@appVersionID">4.0</a></span>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-3 text-right attr-name">
                                    Current Operating System
                                </div>
                                <div class="col">
                                    Android 4.4.4 "KitKat"
                                </div>
                            </div>
                        </div>
                        @*TODO - replace above two form groups with derived data for these attributes*@
                    </div>
                </div>
                
                
               

                <!--Example photo of gantt chart - DELETE when no longer needed for demo -->
                <div class="row">
                    <div class="col col-12">
                        <img src="~/images/VersionHistoryGanttChart_Example.PNG" />
                    </div>
                </div>
                <!--Example photo pf gantt chart - DELETE when no longer needed for demo-->

                <div class="form-group">
                    <br />
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info">Back</a>
                            <a asp-action="Update" asp-route-id="@Model.ID" class="btn btn-secondary">Update</a>
                            <a asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



